/* RESPONSIVE */

/* RESPONSIVE MD */

@media screen and (max-width:768px) {

    .categories-bar, .cards {
        flex-wrap: wrap;
    }

    figure {
        width: calc((100% - 3 * 2%) / 4);
    }

}


/* RESPONSIVE S */

@media screen and (max-width:600px) {

    figure {
        width: calc((100% - 1 * 2%) / 2);
    }

}

/* RESPONSIVE XS */

@media screen and (max-width:480px) {


}