/* RESPONSIVE */

/* RESPONSIVE MD */

@media screen and (max-width:768px) {

    .categories-bar,
    .cards {
        flex-wrap: wrap;
    }

    figure {
        width: calc((100% - 3 * 2%) / 4);
    }

}


/* RESPONSIVE S */

@media screen and (max-width:600px) {

    figure {
        width: calc((100% - 1 * 2%) / 2);
    }

}

/* RESPONSIVE XS */

@media screen and (max-width:480px) {

    .sidebar {
        width: 60px;
    }

    .logo,
    .menu span,
    .playlist,
    .installa-app,
    .divisore,
    .utente,
    .current-song img {
        display: none;
    }

    .menu img,
    .footer-sidebar img {
        width: 30px;
    }

    .logo-small {
        display: inline-block;
        width: 30px;
        margin: 40px 0;
    }

}