/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    height: calc(100vh - 100px);
    margin: 0 auto;
}

.flex {
    display: flex;
}

.color-white {
    color: white;
}

.color-grey {
    color: grey;
}

.round-border {
    border-radius: 50%;
}


/* Sezione Sidebar */

.sidebar {
    width: 250px;
    background-color: black;
    padding-left: 20px;
    flex-shrink: 0;
    flex-direction: column;
}

.logo-spotify {
    width: 150px;
    margin: 40px 0;
}

.logo-small {
    display: none;
}

.home,
.cerca,
.libreria {
    gap: 10px;
    align-items: center;
    position: relative;
}

.barra-menu {
    display: none;
    position: absolute;
    background-color: greenyellow;
    width: 2px;
    height: 100%;
    left: -20px;
}

.menu>* {
    font-size: 10px;
    margin-bottom: 15px;
}

.menu img {
    width: 20px;
    vertical-align: bottom;
}

.playlist {
    margin-top: 40px;
    overflow: auto;
}

.playlist h4 {
    color: white;
}

.btn-piu {
    background-color: grey;
    font-size: 20px;
    padding: 0px 5px;
    margin-top: 20px;
    border: grey;
}

.crea-playlist {
    margin-left: 10px;
    font-size: 14px;
}

.playlist ul {
    list-style: none;
}

.playlist li {
    margin: 30px 0;
    font-size: 10px;
}

.footer-sidebar {
    justify-self: flex-end;
    margin-bottom: 10px;
    margin-top: auto;
}

.footer-sidebar img {
    width: 20px;
    margin-right: 5px;
}

.img-profile {
    background-color: grey;
    border-radius: 50%;
}

.installa-app {
    font-size: 10px;
    display: inline;
    vertical-align: 50%;
}

.divisore {
    width: calc(100% - 30px);
    margin: 10px 30px 10px 0;
    border: 1px solid grey;
}

.utente {
    font-size: 14px;
    display: inline;
    vertical-align: top;
    color: white;
}


/* Sezione Musica */

.musica {
    flex-grow: 1;
    background-color: rgb(20, 24, 33);
    overflow: auto;
}

.upgrade-bar {
    position: sticky;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.41);
}

.btn-upgrade {
    text-decoration: none;
    font-size: 8px;
    border: 1px solid white;
    border-radius: 35px;
    padding: 14px 45px;
    margin-right: 10px;
}

.categories-bar {
    justify-content: center;
    list-style: none;
    gap: 25px;
    margin-top: 20px;
}

.categories-bar li {
    position: relative;
    font-size: 10px;
}

.barra-categorie {
    position: absolute;
    background-color: greenyellow;
    left: 25%;
    width: 50%;
    height: 2px;
    margin-top: 5px;
    display: none;
}

.container-musica {
    margin: 40px 20px;
}

.create-for-you,
.popolari {
    margin-top: 40px;
    margin-bottom: 10px;
}

.cards {
    gap: 2%;
    margin-top: 40px;
}

.cards img {
    max-width: 100%;
}

.cards p {
    color: grey;
    margin-top: 10px;
}

figure {
    width: calc((100% - 5 * 2%) / 6);
    text-align: center;
}

.cards-imgs {
    position: relative;
    line-height: 0;
    margin-bottom: 20px;
}

.sfondo-trasparente {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.375);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
}

.play-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: none;
}


/* Sezione Player */

.player {
    height: 100px;
    background-color: rgb(41, 41, 41);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.player * {
    min-width: 0;
}

.current-song {
    align-items: center;
}

.current-song img {
    width: 50px;
}

.song {
    margin-left: 20px;
    margin-right: 40px;
}

.song p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.599);
}

.icone-song {
    gap: 10px;
    color: rgba(255, 255, 255, 0.599);
}

.timeline {
    flex-direction: column;
}

.icone-timeline {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    gap: 10px;
}

.icone-timeline .fa-circle-play {
    font-size: 24px;
}

.tempo-totale {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin: 10px;
}

.timeline-bar .tempo-totale {
    width: 350px;
}

.timeline-bar .tempo-attuale {
    width: 100px;
    border: 3px solid white;
    position: relative;
}

.volume .tempo-attuale {
    width: 50px;
    border: 3px solid white;
    position: relative;
}

.volume .tempo-totale {
    width: 150px;
}

.volume {
    gap: 10px;
}

.cursore-musica {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    right: -1em;
    transform: translate(-50%, -50%);
    display: none;
}


/* Hover */

.menu *:hover,
.crea:hover,
.playlist li:hover,
.installa-app:hover,
.categories-bar li:hover,
.song p:hover,
.icone-song i:hover {
    color: white;
    cursor: pointer;
}

.crea:hover .btn-piu {
    background-color: white;
}

.song p:hover {
    text-decoration: underline;
}

.menu *:hover .barra-menu {
    display: block;
}

.categories-bar li:hover .barra-categorie {
    display: block;
}

.btn-upgrade:hover {
    font-size: 9px;
}

.cards-imgs:hover .sfondo-trasparente,
.cards-imgs:hover .play-hover {
    display: inline-block;
}

.icone-timeline .fa-circle-play:hover {
    font-size: 28px;
}

.tempo-attuale:hover {
    border: 3px solid greenyellow;
}

.tempo-attuale:hover .cursore-musica {
    display: inline-block;
}