/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.color-white {
    color: white;
}

.color-grey {
    color: grey;
}

.round-border {
    border-radius: 50%;
}


/* Sezione Sidebar */

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: black;
    padding-left: 30px;
    flex-shrink: 0;
    flex-direction: column;
}

.logo-spotify {
    width: 150px;
    margin: 40px 0;
}

.menu>* {
    font-size: 10px;
    margin-bottom: 15px;
}

.menu img {
    width: 20px;
    vertical-align: bottom;
}

.playlist {
    margin-top: 40px;
}

.btn-piu {
    font-size: 20px;
    padding: 0px 5px;
    margin-top: 20px;
}

.crea-playlist {
    margin-left: 10px;
    font-size: 14px;
}

.playlist {
    overflow: auto;
}
.playlist ul {
    list-style: none;
}

.playlist li {
    margin: 30px 0;
    font-size: 10px;
}

.footer-sidebar {
    margin-top: auto;
    margin-bottom: 10px;
}

.footer-sidebar img {
    width: 18px;
    margin-right: 10px;
}

.img-profile {
    background-color: grey;
    border-radius: 50%;
}

.installa-app {
    font-size: 10px;
    display: inline;
    vertical-align: 50%;
}

.divisore {
    width: calc(100% - 30px);
    margin: 10px 30px 10px 0;
    border: 1px solid grey;
}

.utente {
    font-size: 14px;
    display: inline;
    vertical-align: top;
    color: white;
}


/* Sezione Musica */

.musica {
    width: calc(100% - 250px);
    background-color: rgb(20, 24, 33);
    height: 100vh;
    overflow: auto;
}

.upgrade-bar {
    position: sticky;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.41);
}

.btn-upgrade {
    text-decoration: none;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 35px;
    padding: 14px 45px;
}

.categories-bar {
    justify-content: center;
    list-style: none;
    gap: 25px;
    margin-top: 20px;
}

.container-musica {
    margin: 40px 20px;
}

.create-for-you,
.popolari {
    margin-top: 40px;
    margin-bottom: 10px;
}

.cards {
    gap: 20px;
    margin-top: 40px;
}

.cards img {
    max-width: 168.34px;
    /* Da sistemare */
}

figure {
    line-height: 25px;
    text-align: center;
}

figure p {
    color: grey;
}


/* Sezione Player */

.player {
    width: 1400px;
    margin: 0 auto;
    height: 80px;
    background-color: rgb(41, 41, 41);
}

.current-song {}

.current-song img {
    width: 100px;
}